.background {
    width: 1024px;
    height: 600px;
    background-image: url('../images/background.png');
    padding-left: 20px;
    padding-top: 20px;
}

.outerbox {
    width: 808px;
    height: 544px;
    background-image: url('../images/outerbox.png');
}

.wrapper {
    display: flex;
    padding-left: 32px;
    padding-top: 32px;
}

.wrapper__left {
    width: 208px;
    height: 472px;
    background-color: skyblue;
}

.wrapper__right {
    width: 524px;
    height: 472px;
    background-color: greenyellow;
}